# MAT281 - Laboratorio N°04

<a id='p1'></a>

## Problema 01

En la carpeta data se encuentra el archivo `nba.db`, el cual muestra informacion básica de algunos jugadores de la NBA.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHCVR_4gPOmYYGglSV0rT1WlJtgRGnIw6Z6G68PTY1r_Qunv-6C3BDIa3jnStoNvdgcEE&usqp=CAU" align="center"/>

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import os  

# Crear conector
conn = create_engine(os.path.join('sqlite:///','data', 'nba.db'))

In [ ]:
# funcion de consultas
def consulta(query,conn):
    return pd.read_sql_query(query, con=conn)

In [ ]:
# ejemplo
query = """
SELECT * FROM player
"""
consulta(query,conn)

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos mediante código **SQL**. Para cumplir con este objetivo debe resolver las siguientes problemáticas:

1. Mostrar las primeras 5 filas

2. Seleccionar los valores únicos de la columna `position`.

3. Seleccionar y cambiar el nombre de la columna `name` por `nombre`

4. Determinar el tiempo (en años) de cada jugador en su posición

5. Encontrar el valor máximo de la columna `weight` por cada  valor de la columna `position`

6. Encontrar el total de jugadores por cada valor de la columna `year_start`

7. Encontrar el valor mínimo, máximo y promedio de la columna `weight` por cada valor de la columnas `college`

8. Filtrar por aquellos jugadores que cumplan con :
* Para la columna `year_start` tienen un valor mayor 1990 y menor a 2000
* Para la columna `position` tienen un valor de `C`,`C-F` o `F-C`
* Para la columna `college` tienen un valor distinto de `Duke University`

9. Crear dos conjuntos de datos y juntarlos en una misma *query*. Las condiciones de cada uno de los cojunto de datos son:

* **df1**:
    * Para la columna `year_start` tienen un valor mayor 1990 y menor a 2000
    * Para la columna `position` tienen un valor de `C`,`C-F` o `F-C`
   
* **df2**:
    * Para la columna `year_end` tienen un valor menor a 2000
    * Para la columna `position` tienen un valor de `G`o `F`