# MAT281 - Laboratorio N°03

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información de distintos usuarios (edad ,sexo, profesión, etc.).

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [ ]:
import pandas as pd
import os

In [ ]:
# cargar datos
df = pd.read_csv(os.path.join("data","ocupation.csv"), sep="|")
df.head()

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1.- ¿Cuál es el número de observaciones en el conjunto de datos?

2.- ¿Cuál es el número de columnas en el conjunto de datos?

3.- Imprime el nombre de todas las columnas

4.- Imprima el índice del dataframe

5.- ¿Cuál es el tipo de datos de cada columna?

6.- Describir el conjunto de datos (**hint**: .describe())

7.- Imprimir solo la columna de **occupation**.

8.- ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

9.- ¿Cuál es la ocupación más frecuente?

10.- ¿Cuál es la edad media de los usuarios?

11.- ¿Cuál es la edad con menos ocurrencia?

12.- Encontrar la edad promedio según la variable **occupation**

## Problema 02


<img src="https://image.freepik.com/vector-gratis/varios-automoviles-dibujos-animados_23-2147613095.jpg" width="360" height="360" align="center"/>


EL conjunto de datos se denomina `Automobile_data.csv`, el cual contiene información tal como: compañia, precio, kilometraje, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [ ]:
# cargar datos
df = pd.read_csv(os.path.join("data","Automobile_data.csv")).set_index('index')
df.head()

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. Elimine los valores nulos (Nan)

2. Encuentra el nombre de la compañía de automóviles más cara

3. Imprimir todos los detalles de Toyota Cars

4. Cuente el total de automóviles por compañía

5. Encuentra el coche con el precio más alto por compañía

6. Encuentre el kilometraje promedio (**average-mileage**) de cada compañía automotriz

7. Ordenar todos los autos por columna de precio (**price**)

## Problema 03


Siguiendo la temática de los automóviles, resuelva los siguientes problemas:

### a) Subproblema 01
A partir de los siguientes diccionarios:

In [ ]:
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'],
              'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 
                'Price': [29995, 23600, 61500 , 58900]}

* Cree dos dataframes (**carsDf1** y **carsDf2**) según corresponda.
* Concatene ambos dataframes (**carsDf**) y añada una llave ["Germany", "Japan"], según corresponda.

### b) Subproblema 02

A partir de los siguientes diccionarios:

In [ ]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

* Cree dos dataframes (**carsDf1** y **carsDf2**) según corresponda.
*  Junte ambos dataframes (**carsDf**) por la llave **Company**.